#display {
  position: fixed;
  height: 100%;
  width: 250px;
  white-space: normal;
  margin-left: 32px;
  transition: 0.5s;
}

.freeze {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 12px 18px;
  position: relative;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.1s;
  font-size: 16px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion_active,
.accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: "\002B"; /* Unicode character for "plus" sign (+) */
  font-size: 16px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.accordion_active:after {
  content: "\2212"; /* Unicode character for "minus" sign (-) */
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
