/* The side navigation menu */
.sidenav {
  height: 100%;
  position: fixed; /* stay in place */
  z-index: 1; /* stay on top */
  top: 0;
  background-color: rgb(17, 17, 17);
  overflow-x: hidden; /* disable horizontal scroll */
  padding-top: 60px;
  transition: 0.5s;
  white-space: nowrap; /* prevents word wrap in navbar */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .sidenavbtn {
  padding: 8px 8px 8px 8px;
  position: absolute;
  top: 0;
  font-size: 36px;
}

.vdivider {
  height: 100%;
  width: 3px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 32px;
  background-color: rgba(255, 255, 255, 0);
  transition: 0.5s;
}

.vdivider:hover {
  cursor: ew-resize;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
/*
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
*/
